* {
    box-sizing: border-box;
    /* font-family: 'Helvetica Narrow', sans-serif; */
}

body {
    background-color: rgb(230,231,232);
}

h2 {
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
}

h1, h2, h3 {
    color: rgb(100, 93, 155);
}

h2 {
    color: rgb(153, 145, 198)
}

p {
    color:#595959;
    font-size: 1rem;
}

nav {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


section {
    display: block;
    background-color:  rgb(240, 230, 255);
    padding-top: 4rem;
    padding-bottom: 10rem;
}

section:nth-child(odd) {
    background-color: rgb(243, 237, 253);
}

section h2 {
    line-height: 2rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

section p {
    line-height: 3rem;
    font-size: 1.5rem;
}

.section-content {
    margin-right: 1rem;
    margin-left: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 50%;
}

.column {
    margin-right: auto;
    margin-left: auto;
}

.column img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 0.5rem;
}

.feature {
    margin-top: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
}

.button {
    background-color: white;
    padding: 10px 16px;
    border: none;
    color: rgb(56, 56, 56);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.logo {
    padding-left: 1em;
    padding-right: 0.25em;
    padding-bottom: 2em;
    background-image: url('../logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4rem;
}

button:hover {
    background-color: 
}

#title {
    padding-top: 10rem;
    padding-bottom: 6rem;
}

#title div {
    /* margin-left: 10rem; */
    margin-left: 1rem;
}
#title h1 {
    /* font-size: 5rem; */
    font-size: 3rem;
    font-weight: 800;
    display: inline-block;
    border-bottom-style: solid;
}

#title p {
    /* font-size: 2rem; */
    font-size: 1.25rem;
    font-weight: 400;
}

#title #me {
    display: inline;
    color: rgb(93, 45, 153);
    margin: 1rem;
}

.screen {
    height: 30rem;
}

.feature-screen {
    height: 400px;
}

#our-team, #documentation {
    text-align: center;
}

@media (min-width: 550px) {
    section h2 {
        line-height: 4rem;
    }
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .section-content {
        margin-right: 5rem;
        margin-left: 5rem;

    }
    #title div {
        margin-left: 5rem;
    }
    #title h1 {
        font-size: 5rem;
    }

    #title p {
        font-size: 2rem;

    }

    .feature {
        margin-bottom: 3rem;
    }

    .feature h3 {
        font-size: 2rem;
        padding-top: 5rem;
    }

    .feature p, .feature h3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 950px) {
    .flex-container {
        flex-wrap: nowrap;
    }

    .button {
        font-size: 1.5rem;
        padding: 16px 24px;
    }
}

@media (min-width: 1200px) {
    .feature p, .feature h3 {
        padding-left: 12.5rem;
        padding-right: 12.5rem;
    }

    .section-content {
        margin-right: 8rem;
        margin-left: 8rem;
    }

    #title div {
        margin-left: 15rem;
    }
}

@media (min-width: 1500px) {
    .feature p, .feature h3 {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .section-content {
        margin-right: 16rem;
        margin-left: 16rem;

    }
}