* {
    box-sizing: border-box;
    /* font-family: 'Helvetica Narrow', sans-serif; */
}

body {
    background-color: rgb(255,255,255);
    /* text-align: center; */
}

h2 {
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
}

h1, h2, h3 {
    color: rgb(100, 93, 155);
}

h2 {
    color: rgb(100, 93, 155)
}

h2.team {
    margin-top: 1.5rem;
}

p {
    color:rgb(109, 110, 113);
}

nav {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav div {
    margin-right: 1rem;
}

/* 
#problem {
    -ms-transform: skew(2deg);
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg);
} */

/* 
.problem {
    -ms-transform: skew(-2deg);
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    padding-bottom: 1.5rem;
} */

div.card-deck.About {
    flex-direction: row; 
    display: flex;
    justify-content: center;
    margin: 0;
}

.card-deck .card.Dep {
    flex: 0;
    align-self: center;
}

div .card {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-items: center;
    float: none;
}

.card {
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    border: none;
    display: inline;
    min-width: 200px;
}

.sightlife {
    padding-top: 20px;
    margin-left: 10px;
}

.footer {
    padding-top: 100px;
}

section {
    display: block;
    background-color:  rgb(213,210,233);
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    /* text-align: center; */
}

section:nth-child(odd) {
    background-color: rgb(255,255,255);
}

section h2 {
    line-height: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

section p {
    line-height: 2rem;
    font-size: 1.2rem;

    /* 
        Need to change margins for team information
        separetely
    */
}

.para {
    margin-top: 1rem;
}

Div.Departments.card-body {
    padding: 0;
    padding-top: 15px;
}

p.About {
    margin: 0;
}

.learnMore a {
    font-size: 15px;
}

.section-content {
    margin-right: 1rem;
    margin-left: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.column h3 {
    margin-top: 2rem;
    font-size: 1.55rem;
}

.column p {
    max-width: 100rem;
    font-size: 1rem;
    line-height: 2rem;
    
}

.wave {
    padding-bottom: 0;
}

#contact img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 0.5rem;
}

.feature {
    margin-top: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
}
 /*
.button {
    background-color: white;
    padding: 10px 16px;
    border: none;
    color: rgb(56, 56, 56);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
} */

.button {
    width: 50px;
}

.logo {
    padding-left: 1em;
    padding-right: 0.25em;
    padding-bottom: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4rem;
}



#title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgb(255,255,255);
    text-align: center;
	background-size: cover;
	background-position: center;
	padding: 2rem;
}

#title h1 {
    font-size: 2rem;
    display: inline-block;
    margin-right: 15rem;
}

#title p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-right: 15rem;
}

#title #me {
    display: inline;
    color: rgb(93, 45, 153);
}

.screen {
    height: 30rem;
}

.feature-screen {
    height: 400px;
}

#our-team, #documentation {
    text-align: center;
}

#departments {
    margin: 0;
    align-content: center;
}

#departments .cards img {
    max-width: 100px;
}

.inSightful {
    margin-left: 1rem;
}


@media (min-width: 300px) {
    #title h1 {
        margin-right: 0;
    }

    #title p {
        margin-right: 0px;
    }

    .section-content {
        margin-right: 5rem;
        margin-left: 5rem;
        align-content: center;
    }
}

@media (min-width: 550px) {
    section h2 {
        line-height: 4rem;
    }
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .section-content {
        margin-right: 5rem;
        margin-left: 5rem;
        align-content: center;
    }

    nav {
        font-size: 1.0rem;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #title div {
        margin-left: 5rem;
    }

    #contact {
        margin-left: 5rem;
        margin-right: 5rem;
        padding-bottom: 1.5rem;
    }

    .feature {
        margin-bottom: 3rem;
    }

    .feature h3 {
        font-size: 2rem;
        padding-top: 5rem;
    }

    .feature p, .feature h3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #title h1 {
        margin-right:  60px;
    }

    #title p {
        margin-right: 60px;
    }
}

@media (min-width: 950px) {
    .flex-container {
        flex-wrap: wrap;
    }
    
    #title h1 {
        margin-right: 5rem;
    }
    
    #title p {
        margin-right: 5rem;
    }
}

@media (min-width: 1200px) {
    .feature p, .feature h3 {
        padding-left: 12.5rem;
        padding-right: 12.5rem;
    }

    .section-content {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    #title div {
        margin-left: 5rem;
    }
}

@media (min-width: 1500px) {
    .feature p, .feature h3 {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .section-content {
        margin-right: 13rem;
        margin-left: 13rem;
        align-content: center;
    }

    .p intro {
        text-align: center;
    }
}