.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .body:after {
    content: "";
    display: table;
    clear: both;
  }

.PermissionBox {
    background-color: #9991C6;;
    height: 50;
  }

.column .PermissionText {
    color: white;
    padding: 5px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-top: 18px;
}

div.PermDatadeck {
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.column .PermText {
    padding-top: 3px;
    margin-bottom: 0;
    line-height: 2rem;
    font-size: 18px
}

.column ul {
    margin: 0 auto;
}

.left-submission{
    margin-right: 1rem;
}

.right-submission {
    margin-left: 1rem;
}


#addUserForm {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4)
}

#addUserBox {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.save {
    text-align: center;
    line-height: 50px;
    background-color: green;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: inherit;
    border-radius: 10px;
    color: white;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 1rem;
}

.cancel {
    text-align: center;
    line-height: 50px;
    background-color: rgb(153, 145, 198); 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: inherit;
    border-radius: 10px;
    color: white;
    width: 150px; 
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 1rem;
}

.save:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}

.save:focus {
    background-color: rgb(153, 145, 198);
    color: white;
}

.main-content {
  margin-left: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }

a.Admin {
      font-size: 18px;
      font-weight: bold;
}

.body .sidebar{
    width: 200px;
    height: 100%;
    background: #6D6E70;
    position: absolute;
}
  
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
  
.body .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #E6E7E8;
    border-bottom: 1px solid white;
    border-top: 1px solid rgba(255,255,255,0.05);
}    
  
.body .sidebar ul li a {
    color: white;
    display: block;
}
  
.body .sidebar ul li:hover{
    background-color: rgb(153, 145, 198);
}
      
  

  

  