input {
  margin: 0 auto;
  width: 250px;
  padding: 10px;
}
/* Clear floats after the columns */
.body:after {
  content: "";
  display: table;
  clear: both;
}
.PermissionBox {
  background-color: #9991C6;;
  height: 50;
}
.column .PermissionText {
  color: white;
  padding: 5px;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-top: 18px;
}
.PermissionInfo {
  background-color: #E6E7E8;
}
.column .PermText {
  padding-top: 3px;
  margin-bottom: 0;
  line-height: 2rem;
  font-size: 18px
}

.removeTest {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: inherit;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 100px;
  background-color: red;
}

.main-content select {
  text-align: center;
  align-content: center;
  justify-content: center;
}
#addMetricAreaButton {
  position: absolute;
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  padding-top: 0.2rem;
  background-color: transparent;
  border: transparent;
}
#met-areas {
  background-color: rgb(153, 145, 198);
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 20px;
  font-weight: bold;
}
.metricForm {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  /* overflow: auto; */
  background-color: rgba(0,0,0,0.4);
}
div.metricElements {
  justify-content: center;
  display: inline-block;
  text-align: center;
}
button.selection {
  width: 200px;
}
.PermDatadeck.card-deck {
  margin-left: 1rem; 
  margin-right: 1rem;
  display: block;
  align-items: center;
}
.metricBox {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  position: relative;
}
.metricBox h2, input {
  margin-bottom: 1rem
}
.metricBox .submit {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: inherit;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 100px;
  background-color: #9991C6;
}
#close-button {
  padding: 0;
  margin: 0;
  width: 50px;
  right: 0;
  top: 0;
  background-color: transparent;
  color: black;
  border-style: none;
  position: absolute;
}
/* need to fix later */
#calcForm {
  display: inline-block;
  margin: 0 auto;
  margin-left: 40rem;
}
.more {
  width: 20px;
  padding-bottom: 9px;
}
.save {
  text-align: center;
  line-height: 50px;
  background-color: rgb(153, 145, 198);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: inherit;
  border-radius: 10px;
  color: white;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px
}
.save:hover {
  background-color: rgb(153, 145, 198);
  color: white;
}
.save:focus {
  background-color: rgb(153, 145, 198);
  color: white;
}
@media (min-width: 600px) {
  div.metricElements {
    justify-content: center;
    text-align: center;
  }
  #met-areas {
    font-size: 24px;
  }
  button.selection {
    width: 275px;
  }
  .metricBox {
    width: 50%; /* Could be more or less, depending on screen size */
  }
  #addMetricAreaButton {
    margin-left: 0.5rem;
    padding-top: 0.2rem;
  }
}
@media (min-width: 900px) {
  #met-areas {
    font-size: 32px;
  }
  .metricBox {
    width: 30%; /* Could be more or less, depending on screen size */
  }
}