.App {
  text-align: center;
}

.App-link {
  color: black;
}

.navbar-brand img {
  width: 150px;
}

a.nav-link {
  font-size: 20px;
}

a.nav-link.active {
  color: rgb(153, 145, 198);
}

.nav-link2 {
  font-size: 16px;
}

#nav-bar {
  background-color: white;
}

.navbar {
  background-color: white;
  margin-right: 0;
  padding-right: 0;
}

button, p, input, address {
  font-size: 1.5rem;
}

a { 
  padding-top:10px;
  padding-right: 15px;
  padding-left: 5px;
  color: #6D6E70;
  font-size: 10px;
  text-decoration: none;
}

.icon {
  width: 52px;
  height: 52px;
}

.profile {
  height: 50px;
  width: 50px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.drop-icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.drop-icons-manager {
  width: 37px;
  height: 37px;
}

.drop-icons-exit {
  width: 28px;
  height: 28px;
  margin-right: 11px;
}

p.user-name {
  text-align: center;
  color: black;
}

p.user-name:hover {
  background-color: white;
}

.prof-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  height: 50px;
}

.nav-link2 {
  position: relative;
  display: inline;
  text-align: center;
  color: black;
  padding: 1.5rem;
}

.nav-link2:hover {
  color: rgb(153, 145, 198);
  text-decoration: none;
}

#signOutButton {
  background-color: transparent;
  padding-top: 5px;
  border: none;
  font-size: 18px;
}

#signOutButton:hover {
  color: rgb(153, 145, 198);
}

#sign {
    position: absolute;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    border: none;
    text-align: left;
    margin: 0 auto;
} 

.btn2 {
  color: black;
  border: white;
  background-color: transparent;
  text-align: center;
}

/* a .link {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  align-content: flex-end;
}*/

.Data { 
  font-size: 20px;
  color: rgb(100, 93, 155);
  padding-bottom: 20px;
}

@media (min-width: 600px)  {
    .link {
      font-size: 19px;
  }

  #sign {
    position: absolute;
    /* align-items: left; */
    right: 0;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    border: none;
    text-align: left;
    margin: 0 auto;
}

}