#select-dropdown {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dropTitle {
    display:inline-block;
    margin-right: 5px;
}

#legend {
    text-align: center;
}

#onTarget {
    width: 25px;
    height: 25px;
    background-color: #50c53d;
    margin-right: 5px;
    border-radius: 2px;
}

#inMargin {
    width: 25px;
    height: 25px;
    background-color:#f9a354;
    margin-right: 5px;
    border-radius: 2px;
}

#outMargin {
    width: 25px;
    height: 25px;
    background-color: #fe0000;
    margin-right: 5px;
    border-radius: 2px;
}

.test {
    display: inline-block;
    margin-left: 2rem;
}

.targets {
    display: inline-block;
    vertical-align: middle;
}


tbody.table {
    margin: 20rem;
}

.table {
    width:100%; 
    text-align: center;
}

div.table-responsive {
    margin-left: 0;
}

select.options {
    margin-right: 1rem;
}

div.options{
    width:100%; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

th.values {
    width: 50px;

}

@media (min-width: 800px) {
    .table {
        width:60%; 
        margin-left:20%; 
        margin-right:20%;
        text-align: center;
    }
}