* {
    box-sizing: border-box;
    /* font-family: 'Helvetica Narrow', sans-serif; */
}

h2.InputOption {
    margin-bottom: 0;
    margin-top: 2rem;
}

h2#month {
    margin-bottom: 5px;
    margin-top: 30px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h2.MetricTitles {
    margin-bottom: 0px;
    margin-top: 1rem;
}

h1, h2, h3 {
    color: rgb(100, 93, 155);
    align-content: center;
    text-align: center;
}

h1.DataEn {
    font-size: 35px;
}

textarea#form {
    margin-bottom: 1rem;
}


p {
    /* color:rgb(109, 110, 113); */
    /* font-size: 1rem; */
}

#forms {
    padding-bottom: 2rem;
    margin: 0;
    background-color: white;
    text-align: center;
    align-content: center; 
}

h2#quarter {
    margin-bottom: 5px;
    margin-top: 30px;
}

.required {
    color: red;
}

.invalidError {
    color: red;
}

.textInput input, .textInput textarea {
    width: 60%;
    height: 200px;
    margin: auto;
    border-color: #9991C6;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 70px;
}

.textInput input {
    width: auto;
    height: auto;
}

.check, .textInput {
    color:rgb(109, 110, 113);
    font-size: 18px;
}

.check, .box {
    display: inline-block;
}

label {
    font-weight: bold;
}

.monthSelect {
    text-align: center;
    margin-bottom: 10px;
}

.selection, .preview {
    text-align: center;
    line-height: 65px;
    background-color: #E6E7E8;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    border-style: inherit;
    border-radius: 10px;
    color: black;
    width: 200px;
}

.selection:hover, .preview:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}

.selection:focus {
    background-color: rgb(153, 145, 198);
    color: white;
}

.preview {
    display: inline;
}

.errorMsg {
    text-align: center;
}

.errorMsg p {
    color: red;
}

div.datadeck {
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

section.entry {
    margin-right: 5rem;
    margin-left: 5rem;
    padding-bottom: 0;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: white;
    color: #E6E7E8;
    text-align: left;
    line-height: 0;
    border-radius: 0;
    padding: 16px;
    font-size: 16px;
    border:1px solid rgb(153, 145, 198);
    cursor: pointer;
  }

  .dropbtn:hover {
    background-color: white;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown p:hover {
      background-color: #9991C6;
      color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    margin: 0;
  }

  .dropdown:hover .dropdown-content {
      display: block;
      background-color: white;
      border:1px solid rgb(153, 145, 198);
  }

  .dropdown-content p {
      padding: 0;
      margin: 0;
  }

  .dropbtn img {
      align-content: right;
      width: 12px;
      height: 12px;
  }

  div .check-one {
    width: 100%;
  }

  input#Target.box {
    width: 20px;
    height: 40px;
    margin-bottom: 0.2rem;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }

  input#Actual.box{
    width: 20px;
    height: 40px;
    margin-bottom: 0.2rem;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }

  input#form {
      margin-bottom: 2rem;
  }

  h2.timeFrame {
      margin: 0;
      font-weight: bold;
  }

  div.textInput {
      margin: 1rem;
  }

@media (min-width: 550px) {
    .preview {
        width: 300px;
    }

    h1.DataEn {
        font-size: 50px;
    }
    section.entry {
        margin-right: 10rem;
        margin-left: 10rem;
        padding-bottom: 0;
    }
}

@media (min-width: 1300px) {
    div.datadeck {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}