.form {

    margin-right: 2rem;
    margin-left: 2rem;
}

.forgotPassword {
    text-align: center;
}

input, label {
    display: block;
}

label {
    color: black;
    font-weight: bold;
}

.passwordText {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

#emailMe {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-style: inherit;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    background-color: #9991C6;
}

.emailInput {
    border-radius: 5px;
}
.reroute {
    margin-top: 20px;
    justify-content: center;
}

#signin {
    margin-right: 0.5rem;
    font-size: 15px;
}

#createaccount {
    margin-left: 0.5rem;
    font-size: 15px;
}

a.create {
    font-size: 19px;
}

div.account {
    font-size: 16px;
    color: black;
    margin-top: 1rem;
    place-items: center;
    text-align: center;
}

p.account {
    margin-bottom: 0;
}

.account2 {
    font-size: 20px;
    color: black;
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

label.sign {
    margin: auto;
    align-content: center;
    text-align: left;
    display: block;
}

/* div.sign {
    margin-left: 10rem;
} */

.create a {
    font-size: 16px;
    color: rgb(153, 145, 198);
}

a#createaccount, a#signin {
    font-size: 16px;
    font-weight: bold;
    color: rgb(153, 145, 198);
}

.sign-in {
    width: 50%;
    margin: 0 auto;
    display: block;
    border-style: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(153, 145, 198);
    line-height: 65px;
    margin-top: 1.5rem;
}

.sign-in:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}


@media (min-width: 450px)  {
    .form {
        margin: auto;
        padding: 16px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .SignBox {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    .sign-in {
        width: 40%;
        display: block;
        border-style: none;
        color: white;
        border-radius: 10px;
        background-color: rgb(153, 145, 198);
        line-height: 65px;
        margin-top: 1.5rem;
    }

    .passwordText {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 30%;
        margin-right: 30%;
        text-align: left;
    }
}

@media (min-width: 600px)  {
    .form {
        margin: auto;
        padding: 16px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    label.sign {
        margin: 0 auto;
    }

    .SignBox {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .sign-in {
        width: 30%;
        display: block;
        border-style: none;
        color: white;
        border-radius: 10px;
        background-color: rgb(153, 145, 198);
        line-height: 65px;
        margin-top: 1.5rem;
    }

    .passwordText {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 33%;
        margin-right: 33%;
        text-align: left;
    }
}

@media (min-width: 700px)  {
    .form {
        margin: auto;
        width: 50%;
        padding: 18px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
    }

    .SignBox {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .passwordText {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 35%;
        margin-right: 35%;
        text-align: left;
    }
}

@media (min-width: 900px)  {
    .form {
        margin: auto;
        width: 50%;
        padding: 18px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
    }

    .SignBox {
        margin: auto;
        width: 250px;
    }

    .passwordText {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 38%;
        margin-right: 38%;
        text-align: left;
    }
}

@media (min-width: 1350px)  {


    .passwordText {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 42%;
        margin-right: 42%;
        text-align: left;
    }
}