.metrics {
    width:50%;
    border:1px solid rgb(153, 145, 198);
    background: rgb(153, 145, 198);
    border-radius: 5px;
    padding:20px;
    text-align: center;
}

div .metrics {
    padding: 20px;
    margin-bottom:5rem;
}

div .metricsDeck{
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-right: 13rem;
    margin-left: 13rem;
}

div .metricsBody {
    padding: 20px;
}


button.metricButton {
    background-color: rgb(153, 145, 198);
    color: white;
    font-size: 18px;
    font-weight: 500;

    display: inline-block;  
    z-index: 1;     
    padding: 3em;     
    margin: -2em; 
}
