button.metrics.btn.btn-secondary {
    color: white;
}

div.metricsDeck.card-deck {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.metrics {
    border:10px solid rgb(153, 145, 198);
    background: rgb(153, 145, 198);
    border-radius: 20px;
    margin: 1rem;
    text-align: center;
}


div .metrics {
    padding-right: 10px;
    padding-left: 10px;
    height: 125px;
    width: 125px;
    align-self: center;    
}

a {
    padding: 0;
}

div.metrics.card {
    margin: 0 auto;
    margin-bottom: 3rem;
    /* margin-right: 2rem; */
}

div.metricsBody.card-body a  {
    font-weight: 700;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.table-responsive {
    margin-left: 20px;
}