.form {
margin: auto;
width: 40%;
padding: 16px;
}

input, label {
    display: block;
}

label {
    color: black;
    font-weight: bold;
}
input {
    width: 100%;
    border-style: solid;
    border-color: rgb(153, 145, 198);
}

p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

p.account {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

a.create {
    font-size: 12px;
    color: rgb(153, 145, 198);
}

.sign-in {
    width: 25%;
    margin: 0 auto;
    display: block;
    border-style: none;
    color: white; 
    border-radius: 10px;
    background-color:rgb(153, 145, 198);
    line-height: 65px;
    margin-top: 4rem;
}

.sign-in:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}