.form {
    margin: auto;
    width: 40%;
    padding: 16px;
}

.form p {
    text-align: center;
}

.form label {
    text-align: left;
    width: 80%;
}

li {
    margin-left: 0;
}

ul {
    margin-left: 0;
}

input, label {
    display: block;
}

label {
    color: black;
    font-weight: bold;
}

input {
    width: 100%;
    border-style: solid;
    border-color: rgb(153, 145, 198);
}

p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


a.create {
    font-size: 19px;
}

div.account {
    font-size: 16px;
    color: black;
    margin-top: 1rem;
    place-items: center;
    text-align: center;
}

p.account {
    margin-bottom: 0;
}

.account2 {
    font-size: 20px;
    color: black;
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

label.sign {
    margin-left: 0 auto;
    align-content: center;
    text-align: left;
    display: block;
}

/* div.sign {
    margin-left: 10rem;
} */

.create a {
    font-size: 16px;
    color: rgb(153, 145, 198);
}

.sign-in {
    width: 25%;
    margin: 0 auto;
    display: block;
    border-style: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(153, 145, 198);
    line-height: 65px;
    margin-top: 4rem;
}

.sign-in:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}

#pList { 
    margin-left: 8rem;
}

