.form {

    margin-right: 2rem;
    margin-left: 2rem;
}

.form p {
    text-align: center;
    justify-content: center;
}

.form label {
    text-align: center;

}

input, label {
    display: block;
}

.inputError {
    color: red;
}

label {
    color: black;
    font-weight: bold;
}

input {

    border-style: solid;
    border-color: rgb(153, 145, 198);
}

p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

#forgotPassword {
    text-align: center;
}

#forgotPassword a {
    font-size: 15px;
}

.SignBox {
    justify-content: center;
    margin-right: 3rem;
    margin-left: 3rem;
    /* width: 60%; */
}


a.create {
    font-size: 19px;
}

div.account {
    font-size: 16px;
    color: black;
    margin-top: 1rem;
    place-items: center;
    text-align: center;
}

p.account {
    margin-bottom: 0;
}

.account2 {
    font-size: 20px;
    color: black;
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

label.sign {
    margin: auto;
    align-content: center;
    text-align: left;
    display: block;
}

/* div.sign {
    margin-left: 10rem;
} */

.create a {
    font-size: 16px;
    color: rgb(153, 145, 198);
}

.sign-in {
    width: 50%;
    margin: 0 auto;
    display: block;
    border-style: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(153, 145, 198);
    line-height: 65px;
    margin-top: 1.5rem;
}

.sign-in:hover {
    background-color: rgb(153, 145, 198);
    color: white;
}


@media (min-width: 450px)  {
    .form {
        margin: auto;
        padding: 16px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .SignBox {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    .sign-in {
        width: 40%;
        display: block;
        border-style: none;
        color: white;
        border-radius: 10px;
        background-color: rgb(153, 145, 198);
        line-height: 65px;
        margin-top: 1.5rem;
    }
}

@media (min-width: 600px)  {
    .form {
        margin: auto;
        padding: 16px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    label.sign {
        margin: 0 auto;
    }

    .SignBox {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .sign-in {
        width: 30%;
        display: block;
        border-style: none;
        color: white;
        border-radius: 10px;
        background-color: rgb(153, 145, 198);
        line-height: 65px;
        margin-top: 1.5rem;
    }
}

@media (min-width: 700px)  {
    .form {
        margin: auto;
        width: 50%;
        padding: 18px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
    }

    .SignBox {
        margin-right: 3rem;
        margin-left: 3rem;

    }

    button.sign-in {
        width: 40%;
        display: block;
        border-style: none;
        color: white;
        border-radius: 10px;
        background-color: rgb(153, 145, 198);
        margin-top: 1.5rem;
    }
}

@media (min-width: 900px)  {
    .form {
        margin: auto;
        width: 50%;
        padding: 18px;
    }

    .form label {
        text-align: left;
        margin-left: auto;
    }

    .SignBox {
        margin: auto;
        width: 250px;
    }
}